# render.yaml
services:
  - type: web
    name: webne-infinity
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DB_HOST
        fromDatabase:
          name: db
          property: host
      - key: DB_NAME
        fromDatabase:
          name: db
          property: database
      - key: DB_USER
        fromDatabase:
          name: db
          property: user
      - key: DB_PASS
        fromDatabase:
          name: db
          property: password
  initialDeployHook: mysql -h $DB_HOST -u $DB_USER -p$DB_PASS $DB_NAME < database.sql
  - type: pserv
    name: db
    env: mysql
    disk:
      name: mysql-data
      sizeGB: 1
